<% @totaleffects = 0 %>
<% @effects.each do |effect| %>
	<% @howmany = 0 %>
	<% @commoneffect = Array.new %>
	<% @have.each do |have| %>
		<% if have.effect1 == effect.effect || have.effect2 == effect.effect || have.effect3 == effect.effect || have.effect4 == effect.effect %>
			<% @commoneffect << have.ingredient %>
			<% @howmany += 1%>
		<% end %>
	<% end %>
	<% if @howmany > 1%>
		<%= raw "<b>" %><%= effect.effect %><%= ":" %><%= raw "</b>" %>
		<% @commoneffect.each do |c| %>
			<%= c %><%= raw "," %>
			<% @totaleffects = 1 %>
		<% end %>
		<%= raw "<br><br>" %>
	<% end %>
<% end %>
<% if @totaleffects == 0 %>
	<%= raw "<b>These ingredients don't have any common effects.</b>"%>
<% end %>
<%= raw "<br><A HREF='javascript:history.go(-1)'> [Go Back]</A>"%>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0687463400011307";
/* Morrowind Potions */
google_ad_slot = "7334169609";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>