<% @totaleffects = 0 %>
<% @effects.each do |effect| %>
	<% @howmany = 0 %>
	<% @commoneffect = Array.new %>
	<% @have.each do |have| %>
		<% if have.effect1 == effect.effect || have.effect2 == effect.effect || have.effect3 == effect.effect || have.effect4 == effect.effect %>
			<% @commoneffect << have.ingredient %>
			<% @howmany += 1%>
		<% end %>
	<% end %>
	<% if @howmany > 1%>
		<%= raw "<b>" %><%= effect.effect %><%= ":" %><%= raw "</b>" %>
		<% @commoneffect.each do |c| %>
			<%= c %><%= raw "," %>
			<% @totaleffects = 1 %>
		<% end %>
		<%= raw "<br><br>" %>
	<% end %>
<% end %>
<% if @totaleffects == 0 %>
	<%= raw "<b>These ingredients don't have any common effects.</b>"%>
<% end %>
<%= raw "<br><A HREF='javascript:history.go(-1)'> [Go Back]</A>"%>